.phone {
  width: 300px;
  padding: 32px;

  display: flex;
  flex-direction: column;

  border: 1px solid #E2E6E9;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
}

.phone__image {
  height: 196px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.phone__name {
  font-family: "Mont", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;

  margin-bottom: 8px;
}

.phone__price {
  display: flex;
  width: 100%;

  margin-bottom: 16px;
  padding-bottom: 8px;

  border-bottom: 1px solid #E2E6E9;
}

.price__current {
  font-family: "Mont", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 140%;

  color: #313237;
}

.price__full {
  margin-left: 8px;

  font-family: "Mont", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;

  text-decoration-line: line-through;
  color: #89939A;
}

.characteristic {
  display: flex;
  justify-content: space-between;

  margin-bottom: 8px;
}

.characteristic--last {
  margin-bottom: 16px;
}

.characteristic__title {
  font-family: "Mont", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;

  color: #89939A;
}

.characteristic__value {
  font-family: "Mont", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;

  color: #313237;
}

.buttons {
  display: flex;
  gap: 8px;

  height: 40px;
}

.buttons__buy {
  height: 100%;
  flex-grow: 1;

  background-color: #313237;

  font-family: "Mont", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  color: #fff;
}

.buttons__favorite {
  height: 40px;
  width: 40px;

  background-image: url('../../../img/icons/Vector_favorite.svg');
  background-repeat: no-repeat;
  background-position: center;

  border: 1px solid #b4bdc4;
}