.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;

  list-style: none;
}

.page-item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;

  border: 1px solid #E2E6E9;
}

.page-link {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;

  color: #313237;
}