@import '../../styles/styles.scss';

.phone {
  max-width: 272px;
  padding: 32px;

  display: flex;
  flex-direction: column;

  border: 1px solid $clolor-elements;
  border-radius: 5px;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
  background-color: $clolor-white;

  &__image {
    height: 196px;
    margin: 0 auto;
    margin-bottom: 24px;
    transition: transform 500ms;

    &:hover {
      transform: scale(110%);
    }
  }

  &__name {
    height: 42px;
    margin-bottom: 8px;

    @extend %text_body;
  }

  &__price {
    display: flex;
    width: 100%;

    margin-bottom: 16px;
    padding-bottom: 8px;

    border-bottom: 1px solid #E2E6E9;
  }
}

.price {
  &__current {
    @extend %text_h3;  
    color: $clolor-primary;
  }

  &__full {
    margin-left: 8px;
  
    @extend %text_h3;
    text-decoration-line: line-through;
    color: $clolor-secondary;
  }
}

.characteristic {
  display: flex;
  justify-content: space-between;

  margin-bottom: 8px;

  &--last {
    margin-bottom: 16px;
  }

  &__title {
    @extend %text_small;  
    color: $clolor-secondary;
  }

  &__value {
    @extend %text_small;
    font-weight: 700;  
    color: $clolor-primary;
  }
}

.buttons {
  display: flex;
  gap: 8px;

  height: 40px;

  &__buy {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    flex-grow: 1;
  
    background-color: $clolor-primary;
    border-style: none;
  
    @extend %text_body;
    text-align: center;
    color: $clolor-white;
    transition: all 300ms;

    &:hover {
      box-shadow: 0px 3px 13px rgba(23, 32, 49, 0.4);
    }

    &:active {
      background-color: $clolor-white;
      color: $clolor-green;
      border: 0;
    }

    &--active {
      background-color: $clolor-white;
      color: $clolor-green;
      border: 0;
    }
  }
  
  &__favorite {
    height: 40px;
    width: 40px;
  
    background-image: url('../../img/icons/Vector_favorite.svg');
    background-repeat: no-repeat;
    background-position: center;
  
    border: 1px solid $clolor-icons;

    transition: border 500ms;

    &:hover {
      border: 1px solid $clolor-primary;
    }
  }
}
