@import './vars';

* {
  box-sizing: border-box;
}

html,
body,
p,
h1,
h2,
h3,
h4,
a,
div,
ul,
li {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  background-color: $color-background;
}

button {
  cursor: pointer;
}
