%text_h1 {
  font-family: "Mont", sans-serif;
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.01em;
}

%text_h2 {
  font-family: "Mont", sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: -0.01em;
}

%text_h3 {
  font-family: "Mont", sans-serif;
  font-weight: 800;
  font-size: 22px;
  line-height: 31px;
  letter-spacing: 0;
}

%text_h4 {
  font-family: "Mont", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0;
}

%text_uppercase {
  font-family: "Mont", sans-serif;
  font-weight: 800;
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

%text_buttons {
  font-family: "Mont", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0;
}

%text_body {
  font-family: "Mont", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
}

%text_small {
  font-family: "Mont", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0;
}

%text_h1_mobile {
  font-family: "Mont", sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: -0.01em;
}

%text_h2_mobile {
  font-family: "Mont", sans-serif;
  font-weight: 800;
  font-size: 22px;
  line-height: 31px;
  letter-spacing: 0em;
}

%text_h3_mobile {
  font-family: "Mont", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0;
}

%text_h4_mobile {
  font-family: "Mont", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
}