$clolor-primary: #313237;
$clolor-secondary: #89939a;
$clolor-icons: #b4bdc4;
$clolor-elements: #e2e6e9;
$clolor-hover: #fafbfc;
$clolor-background: #fafbfc;
$clolor-white: #fff;
$clolor-green: #27ae60;
$clolor-red: #eb5757;
