@import '../../../styles/styles.scss';

.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;

  list-style: none;
}

.page-item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;

  border: 1px solid $clolor-elements;

  transition: all 500ms;

  &:hover {
    border: 1px solid $clolor-primary;
    background-color: $clolor-white;
  }

  &:active {
    background-color: $clolor-primary;
  }
}

.page-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;

  @extend %text_body;
  font-weight: 600;
  text-decoration: none;

  color: $clolor-primary;

  &:active {
    color: $clolor-white;
  }
}
