@import '../../styles/styles.scss';


.cart {
    &__container {
        display: flex;
        margin: 43px 152px 0px;
        flex-direction: column;
    
        height: 100vh;
    }

    &__logo {
        margin-top: 16px;
        @extend %text_h1;
        color: $clolor-primary;
    }

    &__bill {
        width: 368px;
        height: 206px;
        border: solid $clolor-secondary 0.5px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__form {
        display: flex;
        align-items: baseline;
    
        gap: 16px;
    }

    &__list {
        list-style-type: none;
    }
}

.backLink {
    font-family: 'Mont';
    font-size: 12.5px;
    text-decoration: none;
    color: #89939A;
}

.vector {
    margin-right: 10px;
}

.bill {
    display: flex;
    align-items: center;
    flex-direction: column;

    gap: 16px;

    &__button {
        height: 48px;
        width: 100%;
        border: none;
        outline: none;
        font-weight: 700;
        font-size: 14px;
        text-align: center;
        color: $clolor-white;
        background: $clolor-primary;
    }
}

.totalPrice {
    @extend %text_h2;
    color: $clolor-primary;
}

.totalItems {
    margin-bottom: 32px;

    @extend %text_body;
    color: $clolor-secondary;
}


@media (min-width: 320px) and (max-width: 1199px) {
    .cart__form {
        display: flex;
        flex-direction: column;
    }

    .cart__bill {
        width: 100%;
    }

    .cart__container {
        display: flex;
        margin: 43px 24px 0px;
    }
}