@import '../../../../styles/styles.scss';

.scroll_button {
  &__text{
    @extend %small_text;
    text-align: center;
    color: $clolor-secondary;
  }

  &__button{
    height: 32px;
    width: 32px;
  
    box-sizing: border-box;
    border: 1px solid $clolor-icons;
    background-color: $clolor-white;
  }
}
