@import '../../../styles/styles.scss';

.product {
  max-width: 300px;
  padding: 32px;

  display: flex;
  flex-direction: column;

  &__image {
    height: 196px;
    margin: 0 auto;
    margin-bottom: 24px;
  }

  &__name {
    @extend %text_body;
  
    margin-bottom: 8px;
  }

  &__price {
    display: flex;
    width: 100%;
  
    margin-bottom: 16px;
    padding-bottom: 8px;
  
    border-bottom: 1px solid $clolor-elements;
  }
}

.price {
  &__current {
    @extend %text_h3;
    font-weight: 700;
    color: $clolor-primary;
  }

  &__full {
    @extend %text_h3;
    font-weight: 500;
    text-decoration-line: line-through;
    color: $clolor-secondary;
  
    margin-left: 8px;    
  }
}

.characteristic {
  display: flex;
  justify-content: space-between;

  margin-bottom: 8px;

  &--last {
    margin-bottom: 16px;
  }

  &__title {
    @extend %text_small;
    font-weight: 700;
  
    color: $clolor-secondary;
  }

  &__value {
    @extend %text_small;
    font-weight: 700;
  
    color: $clolor-primary;
  }
}

.buttons {
  display: flex;
  gap: 8px;

  height: 40px;

  &__buy {
    height: 100%;
    flex-grow: 1;
  
    @extend %text_body;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    color: $clolor-white;
    background-color: $clolor-primary;
  }

  &__favorite {
    height: 40px;
    width: 40px;
  
    background-image: url('../../../img/icons/Vector_favorite.svg');
    background-repeat: no-repeat;
    background-position: center;
  
    border: 1px solid $clolor-icons;
  }
}
