.phone {
  width: 300px;
  padding: 32px;

  display: flex;
  flex-direction: column;

  border: 1px solid #E2E6E9;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);

  &__image {
    height: 196px;
    margin: 0 auto;
    margin-bottom: 24px;
    transition: transform 500ms;

    &:hover {
      transform: scale(120%);
    }
  }

  &__name {
    height: 42px;

    font-family: "Mont", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;

    margin-bottom: 8px;
  }

  &__price {
    display: flex;
    width: 100%;

    margin-bottom: 16px;
    padding-bottom: 8px;

    border-bottom: 1px solid #E2E6E9;
  }
}

.price__current {
  font-family: "Mont", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 140%;

  color: #313237;
}

.price__full {
  margin-left: 8px;

  font-family: "Mont", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;

  text-decoration-line: line-through;
  color: #89939A;
}

.characteristic {
  display: flex;
  justify-content: space-between;

  margin-bottom: 8px;
}

.characteristic--last {
  margin-bottom: 16px;
}

.characteristic__title {
  font-family: "Mont", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;

  color: #89939A;
}

.characteristic__value {
  font-family: "Mont", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;

  color: #313237;
}

.buttons {
  display: flex;
  gap: 8px;

  height: 40px;

  &__buy {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    flex-grow: 1;
  
    background-color: #313237;
  
    font-family: "Mont", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #fff;
    transition: all 300ms;

    &:hover {
      box-shadow: 0px 3px 13px rgba(23, 32, 49, 0.4);
    }

    &:active {
      background-color: #fff;
      color: #27AE60;
      border: 0;
    }
  }
  
  &__favorite {
    height: 40px;
    width: 40px;
  
    background-image: url('../../img/icons/Vector_favorite.svg');
    background-repeat: no-repeat;
    background-position: center;
  
    border: 1px solid #b4bdc4;

    transition: border 500ms;

    &:hover {
      border: 1px solid #313237;
    }
  }
}