@import '../../styles/styles.scss';

.catalog {
  display: flex;
  flex-direction: column;
  gap: 24px;

  max-width: 1136px;
  margin: 0 auto;

  &__title {
    @extend %text_h2;  
    color: $clolor-primary;  

    @include onDesktop {
      font-size: 48px;
      line-height: 56px;
    }
  }
  
  &__amount {
    @extend %text_body;  
    color: $clolor-secondary;
  }
  
  &__sorter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    @include onDesktop {
      justify-content: flex-start;
    }
  }
  
  &__sort-by {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__items-on-page {
    display: flex;
    flex-direction: column;
    gap: 4px;
  
    margin-right: 16px;
  }
  
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    @include onDesktop {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
  
      margin: 0 auto;
    }
  }
}

.navigation {
  display: flex;
  align-items: center;
  gap: 15px;

  &__link-homePage {
    display: block;

    background-image: url('./img/Home.svg');
    background-size: contain;

    width: 16px;
    height: 16px;
  }
  
  &__nesting {
    color: $clolor-icons;
  }
  
  &__current {
    @extend %text_small;  
    color: $clolor-secondary;
  }
}

.sort-by {
  @extend %text_small;
  color: $clolor-secondary;

  &__list {
    width: 187px;
    height: 40px;
  
    border: 1px solid $clolor-icons;
  }
}
