@import '../../../styles/styles.scss';

.cart-item {
  display: flex;
  flex-direction: column;
  gap: 25px;

  width: 300px;
  height: 160px;

  margin-bottom: 16px;

  border: 1px solid $color-elements;

  @include onTablet {    
    width: 590px;
    height: 128px;    
  }

  @include onDesktop {
    flex-direction: row;

    width: 750px;
    height: 128px;
  }

  &__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;

    @include onDesktop {
      gap: 32px;
    }
  }

  &__image {
    height: 64px;
    width: 64px;

    object-fit: contain;
  }

  &__buy {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;

    @include onDesktop {
      gap: 45px;
    }
  }

  &__exit {
    margin-left: 20px;

    cursor: pointer;
    text-decoration: none;

    border: 0;
    background-color: $color-white;

    color: $color-secondary;

    @include onDesktop {
      margin-left: 30px;
    }
  }

  &__title {
    @extend %text_body;
    font-weight: 600;
    color: $color-primary;

    width: 150px;

    @include onDesktop {
      width: 330px;
    }
  }

  &__counter {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__button {
    width: 32px;
    height: 32px;

    background-color: transparent;
    border: 1px solid $color-elements;

    color: $color-icons;
  }

  &__price {
    @extend %text_h3;
    color: $color-primary;

    @include onDesktop {
      font-weight: 800;
    }
  }
}
