@import '../../../../styles/styles.scss';

.f-navigation {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @include onTablet {
    flex-direction: row;
    gap: 80px;
  }

  @include onDesktop {
    flex-direction: row;
    gap: 100px;
  }

  &__link {
    @extend %text_uppercase;
    color: $clolor-secondary;
    text-decoration: none;
  }
}
