@import '../../styles/styles.scss';

.scroll_button {
  &__text{
    @extend %text_small;
    text-align: center;
    color: $color-secondary;
  }

  &__button{
    height: 32px;
    width: 32px;
  
    box-sizing: border-box;
    border: 1px solid $color-icons;
    background-color: $color-white;
  }
}
