.cart-item {
  display: flex;
  flex-direction: column;
  gap: 25px;

  width: 300px;
  height: 160px;

  border: 1px solid #E2E6E9;
}

.cart-item__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}

.cart-item__buy {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
}

.cart-item__exit {
  margin-left: 20px;

  cursor: pointer;
  text-decoration: none;

  color: #89939A;
}

.cart-item__title {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;

  color: #313237;

  width: 150px;
}

.cart-item__counter {
  display: flex;
  align-items: center;
  gap: 15px;
}

.cart-item__button {
  width: 32px;
  height: 32px;

  background-color: transparent;
  border: 1px solid #E2E6E9;

  color: #B4BDC4;
}

.cart-item__price {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 140%;

  color: #313237;
}

@media (min-width: 640px) {
  .cart-item {
    width: 590px;
    height: 128px;
  }
}

@media (min-width: 1200px) {
  .cart-item__exit {
    margin-left: 30px;
  }

  .cart-item__price {
    font-weight: 800;
  }

  .cart-item__title {
    width: 330px;
  }

  .cart-item__buy {
    gap: 45px;
  }

  .cart-item__info {
    gap: 32px;
  }

  .cart-item {
    flex-direction: row;

    width: 750px;
    height: 128px;
  }
}