.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 95vw;

  margin-top: 34px;
  margin-bottom: 40px;
  padding: 0 16px;
  bottom: 0;

  position: fixed;
}

.footer__logo {
  height: 30px;
  width: 89px;
}

.footer__navigation {
  display: flex;
  flex-direction: column;

  padding-top: 32px;
  padding-bottom: 40px;

  gap: 16px;
}

.footer__scroll_button{
  display: flex;

  gap: 16px;
}

@media (min-width: 640px) {
  .footer, .footer__navigation {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__navigation {
    padding-top: 8px;
  }
}
