.scroll_button__text{
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;

  text-align: center;

  color: #89939a;
}

.scroll_button__button{
  height: 32px;
  width: 32px;

  box-sizing: border-box;
  border: 1px solid #b4bdc4;

  background-color: #fff;
}
