@import '../../../styles/styles.scss';

.main {
  display: flex;
  flex-direction: column;

  margin-top: 70px;
  margin-bottom: 70px;

  @include onDesktop {
    margin-top: 90px;
    margin-bottom: 90px;
  }
}

.section {
  display: flex;
  flex-direction: column;

  padding-bottom: 60px;

  @include onDesktop {
    padding-bottom: 80px;
  }

  &:last-child {
    padding-bottom: 0;
  }
}
